<ul class="product-description paragraph">
  {%- assign icon_and_text = section.blocks | where: 'type', 'icon-and-text' | map: 'settings' -%}
  {%- for item in icon_and_text -%}
    <li class="product-icon-txt">
      <figure>
        <img
          {% render 'srcset', image: item.icon, width: 100 %}
          alt="{{ item.icon.alt }}" loading="lazy"
        />
      </figure>
      {{ item.description }}
    </li>
  {%- endfor -%}
</ul>
