<div class="pdp-tab-content padding-x richtext text-center">
  <h3 class="h3 text-accent-2">Sized to Fit Your SUV</h3>

  <p><a href="/pages/helpful-videos" class="link accent-1">Watch the Fit Guide ></a></p>

  <div class="multi-col" style="--col: 3;">
    <figure>
      <figcaption>Small: 42" x 78" (including 20" bumper flap)</figcaption>
    </figure>
    <figure>
      <figcaption>Large: 52" x 82" (including 20" bumper flap)</figcaption>
    </figure>
    <figure>
      <figcaption>XL: 55" x 106" (including 20" bumper flap)</figcaption>
    </figure>
  </div>

  <p><b>Please measure to ensure a great fit.</b></p>
</div>
