{%- comment -%}
  descriptions
{%- endcomment -%}

<ul class="product-icon-text paragraph">
  {%- for item in descriptions -%}
    <li class="product-icon-txt">
      <figure>
        <img
          {% render 'srcset', image: item.icon, width: 100 %}
          alt="{{ item.icon.alt }}" loading="lazy"
        />
      </figure>
      {{ item.description }}
    </li>
  {%- endfor -%}
</ul>
