<style>
  .pdp-tabs-dimensions-list {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>

<div class="pdp-tab-content padding-x richtext text-center">
  <h3 class="h3 text-accent-2">Sized to Fit Your SUV</h3>

  <p><a href="/pages/helpful-videos" class="link accent-1">Watch the Fit Guide ></a></p>

  <div class="pdp-tabs-dimensions-list">
    <figure class="paragraph">
      <a href="https://cdn.shopify.com/s/files/1/0711/6333/files/dimensions-cargo-liner-sm.png?v=1633479802">
        <img src="https://cdn.shopify.com/s/files/1/0711/6333/files/dimensions-cargo-liner-sm_800x.png?v=1633479802" alt='Small: 42" x 78" (including 20" bumper flap)'>
      </a>
      <figcaption><small>Small: 42" x 78" (including 20" bumper flap)</small></figcaption>
    </figure>
    <figure class="paragraph">
      <a href="https://cdn.shopify.com/s/files/1/0711/6333/files/dimensions-cargo-liner-lg.png?v=1633479802">
        <img src="https://cdn.shopify.com/s/files/1/0711/6333/files/dimensions-cargo-liner-lg_800x.png?v=1633479802" alt='Large: 52" x 82" (including 20" bumper flap)'>
      </a>
      <figcaption><small>Large: 52" x 82" (including 20" bumper flap)</small></figcaption>
    </figure>
    <figure class="paragraph">
      <a href="https://cdn.shopify.com/s/files/1/0711/6333/files/dimensions-cargo-liner-xl.png?v=1633479802">
        <img src="https://cdn.shopify.com/s/files/1/0711/6333/files/dimensions-cargo-liner-xl_800x.png?v=1633479802" alt='XL: 55" x 106" (including 20" bumper flap)'>
      </a>
      <figcaption><small>XL: 55" x 106" (including 20" bumper flap)</small></figcaption>
    </figure>
  </div>

  <p><b>Please measure to ensure a great fit.</b></p>
</div>
