{%- comment -%}
  block
{%- endcomment -%}

<style>
  .pdp-tabs-dimensions-list {
    display: flex;
    gap: 2rem;
    width: 100vw;
    margin-inline: calc(50% - 50vw);
    overflow-x: auto;
  }

  .pdp-tabs-dimensions-list::before,
  .pdp-tabs-dimensions-list::after {
    content: '';
    margin: auto;
  }

  .pdp-tabs-dimensions-item { flex: 0 0 300px; }
  .pdp-tabs-dimensions-item:last-of-type:not(:first-of-type) { margin-right: 2rem; }

  .pdp-tabs-dimensions-item a {
    display: block;
    border: 2px solid var(--accent-2);
  }
  .pdp-tabs-dimensions-item a:hover { opacity: 0.6; }

  /* tablet */
  @media screen and (max-width: 768px) {
    .pdp-tabs-dimensions-item { flex-basis: 250px; }
  }
</style>

<div class="pdp-tab-content padding richtext text-center">
  {%- if product.handle == 'suv-60-40-split-cargo-cover-liner-for-dogs-and-pets-large-black' -%}
    <h3 class="h3 text-accent-2">Sized to Fit Your SUV</h3>
  {%- endif -%}

  <div class="pdp-tabs-dimensions-list">
    {% render 'product-details-tabs.dimensions-item', diagram: block.settings.diagram_1 %}
    {% render 'product-details-tabs.dimensions-item', diagram: block.settings.diagram_2 %}
    {% render 'product-details-tabs.dimensions-item', diagram: block.settings.diagram_3 %}
  </div>

  <p><b>Please measure to ensure a great fit.</b></p>
</div>
