<div class="questions-menu">
  <div class="h2-body">Questions?</div>

  <ul class="questions-menu-contact">
    <li>
      <a href="/pages/faq" class="h4-body link accent-2">
        {% render 'icon-question' %}
        FAQs
      </a>
    </li>
    <li>
      <a href="tel:{{ shop.phone }}" class="h4-body link accent-2">
        {% render 'icon-phone-lg' %}
        888-602-2509
      </a>
    </li>
    <li>
      <a href="mailto:{{ shop.email }}" class="h4-body link accent-2">
        {% render 'icon-email' %}
        support@4Knines.com
      </a>
    </li>
    <li>
      <a href="/pages/shipping-returns" class="h4-body link accent-2">
        {% render 'icon-truck' %}
        Shipping & Returns
      </a>
    </li>
  </ul>
</div>
