{% render 'collection-header' %}

<div class="subcategory-list">
  {%- for block in section.blocks -%}
    {%- liquid
      case block.type
        when 'collection'
          assign subcategory = block.settings.collection
        when 'product'
          assign subcategory = block.settings.product
      endcase

      assign subcategory_description = subcategory.description | strip_html | truncate: 300, '...'
    -%}

    <article class="subcategory-item richtext">
      <h2>
        <a href="{{ subcategory.url }}" class="h3 link accent-2">
          {{ block.settings.title | default: subcategory.title }}
        </a>
      </h2>
      <p>{{ block.settings.description | default: subcategory_description }}</p>

      <ul class="subcategory-products unstyled">
        {%- if subcategory.products.size > 0 -%}
          {%- case subcategory.handle -%}
            {%- when 'truck-seat-covers' -%}
              {%- comment -%} only display certain products for truck seat covers {%- endcomment -%}
              {%- for product in subcategory.products -%}
                {%- if
                  product.title == 'Multi-Function Crew Cab Truck Seat Cover with Hammock' or
                  product.title == 'Floor Hammock for Crew Cab Trucks'
                -%}
                  <li>{% render 'product-item', product: product, small: true %}</li>
                {%- endif -%}
              {%- endfor -%}

            {%- else -%}
              {%- comment -%} display all products {%- endcomment -%}
              {%- for product in subcategory.products -%}
                <li>{% render 'product-item', product: product, small: true %}</li>
              {%- endfor -%}
          {%- endcase -%}
        {%- else -%}
          <li>{% render 'product-item', product: subcategory, small: true %}</li>
        {%- endif -%}
      </ul>
    </article>
  {%- endfor -%}
</div>

{% stylesheet %}
  .subcategory-list {
    display: grid;
    gap: 2rem;
    margin-top: 4rem;
  }

  .subcategory-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
  }

  /* desktop-and-up */
  @media screen and (min-width: 769px) {
    .subcategory-list {
      grid-template-columns: repeat(12, 1fr);
      gap: 4rem;
    }

    .subcategory-products {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    .subcategory-item { position: relative; }

    .subcategory-item:nth-child(1) { grid-column: span 7; }
    .subcategory-item:nth-child(2) { grid-column: span 5; }
    .subcategory-item:not(:nth-child(-n+2)) { grid-column: span 4; }

    .subcategory-item:nth-child(2)::before,
    .subcategory-item:nth-child(3n+4)::before,
    .subcategory-item:nth-child(3n+5)::before {
      content: '';
      position: absolute;
      left: -3rem; top: 4rem; bottom: 4rem;
      display: inline-block;
      border-left: 1px solid var(--accent-2);
    }
  }

  /* large */
  @media screen and (min-width: 1550px) {
    .subcategory-list { gap: 4rem 6rem; }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Collection",
  "tag": "article",
  "class": "section-collection container-lg padding-lg",
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        }
      ]
    },
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}
