{% render 'collection-header' %}

<ul class="collection-product-list">
  {%- case collection.handle -%}
    {%- when 'back-seat-covers-for-dogs-pets' -%}
      <li class="desktop-and-up">
        <figure>
          <img
            {% render 'srcset', image: 'collection-back-seat-covers.png', width: 600, asset: true %}
            alt="{{ collection.title }}" loading="lazy" draggable="false"
          />
        </figure>
      </li>
  {%- endcase -%}

  {%- for product in collection.products -%}
    <li>
      {% render 'product-item' product: product %}
    </li>
  {%- endfor -%}
</ul>

{% stylesheet %}
  .collection-product-list {
    display: grid;
    grid-template-columns: repeat(var(--col, 2), 1fr);
    gap: 2rem 1.5rem;
    margin-top: 3rem;
  }

  /* desktop-and-up */
  @media screen and (min-width: 769px) {
    .collection-product-list { --col: 4; }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Collection",
  "tag": "article",
  "class": "section-collection container padding-lg"
}
{% endschema %}
