{% render 'collection-header' %}

<div class="subcategory-list">
  {%- for block in section.blocks -%}
    {%- liquid
      case block.type
        when 'collection'
          assign subcategory = block.settings.collection
        when 'product'
          assign subcategory = block.settings.product
      endcase
    -%}

    <article class="subcategory-item richtext">
      <h2 class="h3 text-accent-2">{{ subcategory.title }}</h2>
      <p>{{ subcategory.description | strip_html | truncate: 300, '...' }}</p>
    </article>
  {%- endfor -%}
</div>

{% stylesheet %}
  .subcategory-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    margin-top: 2rem;
  }

  .subcategory-item:nth-child(-n + 2) { grid-column: span 3; }
  .subcategory-item:not(:nth-child(-n + 2)) { grid-column: span 2; }
{% endstylesheet %}

{% schema %}
{
  "name": "Collection",
  "tag": "article",
  "class": "section-collection container padding-lg",
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    },
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ]
}
{% endschema %}
