<ul class="split">
  <li>
    <p class="h0">.h0</p>
    <p class="h1">.h1</p>
    <p class="h2">.h2</p>
    <p class="h3">.h3</p>
    <p class="h4">.h4</p>
    <p class="h5">.h5</p>
    <p class="h6">.h6</p>
    <p class="font-heading">.font-heading</p>
  </li>
  <li>
    <p class="h0-body">.h0-body</p>
    <p class="h1-body">.h1-body</p>
    <p class="h2-body">.h2-body</p>
    <p class="h3-body">.h3-body</p>
    <p class="h4-body">.h4-body</p>
    <p class="h5-body">.h5-body</p>
    <p class="h6-body">.h6-body</p>
    <p class="font-body">.font-body</p>
  </li>
</ul>
<br>
<p>
  <span class="text-dark">.text-dark</span>
  <span class="text-light">.text-light</span>
  <span class="text-accent-1">.text-accent-1</span>
  <span class="text-accent-2">.text-accent-2</span>
  <span class="text-accent-3">.text-accent-3</span>
  <span class="text-error">.text-error</span>
</p>
<p class="text-center">.text-center</p>
<p class="bg-light">.bg-light</p>
<p class="bg">.bg</p>
<p class="bg-dark">.bg-dark</p>
<br>
<div class="container bordered">.container</div>
<div class="container-sm bordered">.container-sm</div>
<div class="container-half bordered">.container-half</div>
<div class="padding-y bordered">.padding-y</div>
<div class="padding-x bordered">.padding-x</div>
<div class="padding">.padding</div>
<div class="padding-lg">.padding-lg</div>
<br>
<p>
  <a href="#" class="link">.link</a>
  <a href="#" class="link accent-1">.link.accent-1</a>
  <a href="#" class="link accent-2">.link.accent-2</a>
  <a href="#" class="link accent-3">.link.accent-3</a>
  <a href="#" class="link-underline">.link-underline</a>
</p>
<p>
  <span class="button">.button</span>
  <span class="action">.action</span>
  <span class="action accent-2">.action.accent-2</span>
  <span class="action accent-3">.action.accent-3</span>
  <span class="action-alt">.action-alt</span>
</p>
<p><span class="action lg">.action.lg</span></p>
<p><span class="action full">.action.full</span></p>
<p><input class="input" type="email" placeholder=".input" /></p>

<style>
  .demo-css > * + * {
    margin-top: 0.25rem;
  }

  .split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .bordered {
    border: 1px dashed var(--border);
  }
</style>

{% schema %}
{
  "name": "CSS Demo",
  "tag": "section",
  "class": "demo-css container padding"
}
{% endschema %}
