<div class="section-FBT-inner container padding-lg"></div>

<style>
  .section-FBT {
    background-color: #eceef5;
    font-family: var(--font-heading);
  }

  .cbb-frequently-bought-title {
    margin-bottom: 1rem !important;
    font-size: var(--h1) !important;
  }

  .cbb-frequently-bought-add-button {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    padding: 0.75em 2em;
    border: 1px solid var(--accent-1);
    border-radius: 4em;
    outline: none;
    text-decoration: none;
    text-align: center;
    font: inherit;
    font-family: var(--font-body);
    color: #fff;
  }

  .cbb-frequently-bought-add-button:hover { background-color: var(--accent-1-dark); }
  .cbb-frequently-bought-add-button:focus { box-shadow: var(--outline); }

  .cbb-recommendations-variant-select {
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent !important;
    font: inherit;
  }

  .section-FBT .money { color: var(--text) !important; }

  .cbb-frequently-bought-selector-list > li + li {
    margin-top: 0.5rem;
  }

  .section-FBT input[type="checkbox"] {
    margin-right: 0.5em;
    width: 2em !important;
    height: 2em !important;
    vertical-align: middle !important;
  }

  /* tablet */
  @media screen and (max-width: 768px) {
    .cbb-frequently-bought-title {
      font-size: var(--h3) !important;
    }

    .cbb-frequently-bought-selector-list > li + li {
      margin-top: 1rem;
    }
  }
</style>

{% schema %}
{
  "name": "Freq. Bought Together",
  "tag": "section",
  "class": "section-FBT"
}
{% endschema %}
