<style>
  .section-FBT {
    display: none !important;
  }
</style>

<div class="section-FBT-inner"></div>

{% schema %}
{
  "name": "FBT",
  "tag": "section",
  "class": "section-FBT"
}
{% endschema %}
