<div
  id="stamped-reviews-widget"
  data-widget-type="instagram-feed"
  data-feed-type="carousel"
  data-auto-play="true"
></div>

{% schema %}
{
  "name": "Instagram feed",
  "tag": "section",
  "settings": []
}
{% endschema %}
