<h1 class="h1 text-center text-accent-1">All Collections</h1>

<ul class="multi-col" style="--col: 3; gap: 0 2rem;">
  {% for collection in collections %}
    <li>
      <a href="{{ collection.url }}" class="link">
        {{ collection.title }}
      </a>
    </li>
  {% endfor %}
</ul>

{% schema %}
{
  "name": "All Collections",
  "tag": "article",
  "class": "container padding-lg richtext"
}
{% endschema %}
