<div class="multi-col center container padding">
  <div class="richtext">
    <h2 class="h2">{{ section.settings.heading }}</h2>
    <p>{{ section.settings.description }}</p>
  </div>

  {% form 'customer', class: 'newsletter-form' %}
    <div class="newsletter-form">
      <label>
        <input class="input" name="contact[email]" value="" autocomplete="email" type="email" placeholder="Email" required />
      </label>
      <button class="action accent-2">Sign up</button>
    </div>

    <p class="newsletter-form-success text-center" {% unless form.postted_successfully %}hidden{% endunless %}>
      Thanks for signing up!
    </p>
  {% endform %}
</div>

<script>
  let urlParams = new URLSearchParams(window.location.search)
  if (!!urlParams.get('customer_posted')) {
    document.querySelector('.newsletter-form-success').removeAttribute('hidden')
  }
</script>

{% stylesheet %}
  #shopify-section-newsletter {
    background-color: var(--accent-3);
    color: #fff;
  }

  .newsletter-form {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .newsletter-form:focus-within {
    border-radius: 4em;
    box-shadow: var(--outline);
  }

  .newsletter-form .input {
    padding: var(--button-padding);
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 100%;
    border-color: var(--accent-1);
    border-top-left-radius: 4em;
    border-bottom-left-radius: 4em;
    box-shadow: none;
  }

  .newsletter-form .action {
    padding-left: 2em;
    padding-right: 2em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .newsletter-form-success { margin-top: 1rem; }
{% endstylesheet %}

{% schema %}
{
  "name": "Newsletter",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Join the Pack"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Sign up for offers and the latest updates"
    },
    {
      "type": "text",
      "id": "submit_label",
      "label": "Submit label",
      "default": "Sign up"
    }
  ]
}
{% endschema %}
