<h1 class="h1 text-center">{{ page.title }}</h1>

{%- assign contributors = section.blocks | where: 'type', 'contributor' | map: 'settings' -%}
{%- for contributor in contributors -%}
  <article class="contributor-item">
    <figure class="sticky">
      <img
        {% render 'srcset', image: contributor.image, width: 200 %}
        alt="{{ contributor.image.alt | default: contributor.title }}"
      />
    </figure>
    <div class="richtext">
      <h2 class="h3">{{ contributor.title }}</h2>
      {{ contributor.description }}
    </div>
  </article>
{%- endfor -%}

{% stylesheet %}
  .contributor-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem 2rem;
    align-items: center;
    margin-top: 2rem;
  }

  .contributor-item figure { align-self: start; }
  .contributor-item img { max-width: 150px; }
  .contributor-item a { color: var(--accent-1); }

  /* tablet */
  @media screen and (max-width: 768px) {
    .contributor-item { gap: 1rem; }
    .contributor-item img { max-width: 80px; }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Page (Contributors)",
  "tag": "article",
  "class": "container padding richtext",
  "blocks": [
    {
      "type": "contributor",
      "name": "Contributor",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
