<div class="container padding-lg">
  product-details-tabs
</div>

{% stylesheet %}

{% endstylesheet %}

{% schema %}
{
  "name": "Product details tabs",
  "tag": "section",
  "class": "bg"
}
{% endschema %}
