{% render 'product-images' %}

<div class="section-product-txt">
  <div class="sticky richtext">
    <h1 class="h2 text-accent-2">{{ product.title }}</h1>

    {%- comment -%}
    {%- if product.description -%}
      <div class="richtext">{{ product.description }}</div>
    {%- endif -%}
    {%- endcomment -%}

    {% render 'product-form' %}
  </div>
</div>

{% render 'product-recommendations' %}

<script src="{{ 'product.min.js' | asset_url }}" defer></script>

{% stylesheet %}
  .section-product {
    gap: 2rem;
    padding-bottom: 8rem;
  }

  .qty-and-price {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: end;
  }

  .recommendation-product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 2rem 1rem;
  }

  /* desktop-and-up */
  @media screen and (min-width: 769px) {
    .section-product {
      grid-template-areas:
        'img txt'
        'rec txt';
      gap: 4rem;
    }

    .section-product-img { grid-area: img; }
    .section-product-txt { grid-area: txt; }
    .section-product-rec { grid-area: rec; }
  }

  /* mobile */
  @media screen and (max-width: 428px) {
    .recommendation-product-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product",
  "tag": "article",
  "class": "section-product container section-padding-lg side-padding multi-col",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_dynamic_checkout",
      "label": "Show dynamic checkout buttons",
      "default": false,
      "info": "[More info](https://help.shopify.com/en/manual/online-store/dynamic-checkout?shpxid=504f73d0-655A-4E82-8958-225D920D5247)"
    }
  ]
}
{% endschema %}
