{%- liquid
  assign icon_and_text = section.blocks | where: 'type', 'icon-and-text' | map: 'settings'
  assign features_video_code = product.metafields.pdp.features_video_code
-%}

{%- unless icon_and_text.size > 0 -%}
  <div class="section-product-description padding-lg">
    {%- if features_video_code != blank-%}
      <div class="desc-with-video container-lg center">
        <div class="container-sm richtext">{{ product.description }}</div>

        <div class="desc-with-video-vid paragraph text-center">
          <h2 class="h2">{{ product.name }} Features</h2>
          {{ features_video_code }}
        </div>
      </div>

    {%- else -%}
      <div class="container-sm richtext">
        {{ product.description }}
      </div>
    {%- endif -%}
  </div>
{%- endunless -%}

{% stylesheet %}
  .section-product-description h1 {
    font-size: var(--h2);
    text-align: center;
  }

  .desc-with-video {
    display: grid;
    gap: 2rem 4rem;
    align-items: center;
  }

  /* desktop */
  @media screen and (max-width: 1549px) {
    .desc-with-video-vid { min-width: 0; }
    .desc-with-video-vid > div {
      margin-inline: auto;
      max-width: 100%;
    }
  }

  /* large */
  @media screen and (min-width: 1550px) {
    .desc-with-video {
      grid-template-columns: 1.5fr 1fr;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product Description",
  "tag": "section"
}
{% endschema %}
