<img
  class="split-cover-tech-img"
  {% render 'srcset', image: 'split-cover-tech-img.png', width: 1600, asset: true %}
  alt="" loading="lazy" draggable="false"
/>

<div class="split-cover-tech-txt container-half padding-lg richtext text-center">
  <h2 class="h2 text-accent-2">Patented Split Cover Technology</h2>
  <p>Our patented Split Rear Seat Cover provides access to all three seat belts and allows you to fold down seats without having to remove the cover (60/40 split, 50/50 split, center cargo pass-through).</p>
  <p>
    <!-- TODO: update url -->
    <a href="/pages/split-cover-technology" class="action">Do the Split</a>
  </p>
</div>

{% stylesheet %}
  .section-split-cover-tech {
    position: relative;
    padding-block: clamp(2rem, 20vmin, 6rem);
  }

  .split-cover-tech-img {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .split-cover-tech-txt {
    position: relative;
    z-index: 1;
    background-color: hsla(0, 0%, 100%, 0.8);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Split Cover Technology",
  "tag": "section",
  "class": "section-split-cover-tech padding-x"
}
{% endschema %}
