.search-form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-radius: 4em;
  background-color: #fff;
  transition:
    border-color var(--t),
    box-shadow var(--t);
}

.search-form:focus-within {
  border-color: var(--accent-2);
  box-shadow: var(--outline-2);
}

.search-form-label {
  padding-block: 0.5rem;
}

.search-input {
  box-sizing: border-box;
  width: 100%;
  padding-left: 1em;
  font: inherit;
}

.search-button {
  cursor: pointer;
  padding: 0.25em 0.75em;
}

.search-button:hover {
  color: var(--accent-2);
}

.search-suggestions {
  position: absolute;
  left: 0; top: calc(100% + 2px);
  width: 100%;
  padding-inline: 1rem;
  box-sizing: border-box;
  background-color: var(--bg-light);
  max-height: max(200px, 50vh);
  overflow-y: auto;
}

.search-suggestions:empty { display: none; }

/* group */

.suggestion-group { margin-bottom: 1rem; }

.suggestion-group-title {
  position: sticky;
  top: 0;
  padding-block: 1rem;
  border-bottom: 1px solid var(--border-light);
  background-color: var(--bg-light);
  color: var(--text-dark);
  text-transform: uppercase;
}

/* item */

.suggestion-item {
  --suggestion-img-size: 50px;
  margin-top: 0.5rem;
}

.suggestion-item-url {
  display: grid;
  grid-template-columns: var(--suggestion-img-size) 1fr;
  align-items: center;
  gap: 0.5rem;
  color: inherit;
  text-decoration: none;
}

.suggestion-item-url:hover .suggestion-item-title {
  color: var(--accent-2);
}

.suggestion-item-img {
  background-color: #fff;
}

.suggestion-item-img img {
  display: block;
  width: var(--suggestion-img-size);
  height: var(--suggestion-img-size);
  object-fit: contain;
}

.suggestion-item-img img:not([src]) {
  opacity: 0;
}
